<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>JUNTO</title>
    
    <!--font-->

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500" rel="stylesheet" type="text/css">

    <!-- css -->
    
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../static/css/index2.css" >

    <!-- script
    ================================================== -->
    <script src="../static/js/modernizr.js"></script>
    <script src="../static/js/pace.min.js"></script>


   
</head>
{% block body %}
<body class="about">

<!-- header -->
<header class="container-fluid header">
    <div class="container">
            <a href="index.html" class="logo"> JUNTO </a>
        <nav class="menu">
        <a href="index.html"> Accueil </a>
        <a href="#"> Comment ça marche ? </a>
        <a href="experience.html"> Proposer une offre </a>
        <a href="partenaire.html"> Espace Partenaire </a>
        <a href="#contact">Contact</a>

         </nav>
    </div>
</header>

<!-- end header -->

<!-- main
    ================================================== -->

<div class="container fluid">
    <div class="row">
        <div class=inner-main>
            <h2> Comment ça marche ? </h2>
            <hr class="separator">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/AEj9nij1V78" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <p> Voici la vidéo d'explication</p>
            <div id="about-desc" style="text-align: center;">
                    <h3>J'ai tout compris, je souhaite découvrir des expériences uniques dès maintenant</h3>
                    <a href="questionnaire.html" class="btn-about-desc" alt="découvrir-activités" style="margin: 45px auto 30px;"> PARTIR À LA DECOUVERTE DE L'AUTHENTIQUE !</a>
                    <p>
                        <a href="index.html" style="text-decoration: underline; font-size: 12px; margin-bottom: 35px;">Retour</a>
                    </p>
            </div>
        </div>
        </div>

    </div>
</div>



<!-- footer -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

            <div class="overlay"></div>
            <div class="contact__line"></div>
    
            <div class="row section-header" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead">Contact Us</h3>
                    <h1 class="display-2 display-2--light">Reach out for a new project or just say hello</h1>
                </div>
            </div>
    
            <div class="row contact-content" data-aos="fade-up">
                
                <div class="contact-primary">
    
                    <h3 class="h6">Send Us A Message</h3>
    
                    <form name="contactForm" id="contactForm" method="post" action="" novalidate="novalidate">
                        <fieldset>
        
                        <div class="form-field">
                            <input name="contactName" type="text" id="contactName" placeholder="Your Name" value="" minlength="2" required="" aria-required="true" class="full-width">
                        </div>
                        <div class="form-field">
                            <input name="contactEmail" type="email" id="contactEmail" placeholder="Your Email" value="" required="" aria-required="true" class="full-width">
                        </div>
                        <div class="form-field">
                            <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" class="full-width">
                        </div>
                        <div class="form-field">
                            <textarea name="contactMessage" id="contactMessage" placeholder="Your Message" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                        </div>
                        <div class="form-field">
                            <button class="full-width btn--primary">Submit</button>
                            <div class="submit-loader">
                                <div class="text-loader">Sending...</div>
                                <div class="s-loader">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
        </form>
    
                    <!-- contact-warning -->
                    <div class="message-warning">
                        Something went wrong. Please try again.
                    </div> 
                
                    <!-- contact-success -->
                    <div class="message-success">
                        Your message was sent, thank you!<br>
                    </div>
    
                </div> <!-- end contact-primary -->
    
                <div class="contact-secondary">
                    <div class="contact-info">
    
                        <h3 class="h6 hide-on-fullwidth">Contact Info</h3>
    
                        <div class="cinfo">
                            <h5>Where to Find Us</h5>
                            <p>
                                1600 Amphitheatre Parkway<br>
                                Mountain View, CA<br>
                                94043 US
                            </p>
                        </div>
    
                        <div class="cinfo">
                            <h5>Email Us At</h5>
                            <p>
                                contact@glintsite.com<br>
                                info@glintsite.com
                            </p>
                        </div>
    
                        <div class="cinfo">
                            <h5>Call Us At</h5>
                            <p>
                                Phone: (+63) 555 1212<br>
                                Mobile: (+63) 555 0100<br>
                                Fax: (+63) 555 0101
                            </p>
                        </div>
    
                        <ul class="contact-social">
                            <li>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                        </ul> <!-- end contact-social -->
    
                    </div> <!-- end contact-info -->
                </div> <!-- end contact-secondary -->
    
            </div> <!-- end contact-content -->
    
        </section> <!-- end s-contact -->
    
    <!-- end footer -->

   
    
     <!-- Java Script
        ================================================== -->
        
        <script src="../static/js/jquery-3.2.1.min.js"></script>
        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/main.js"></script>
    
    
    </body>
{% endblock %}
    </html>